@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "@catppuccin/palette/css/catppuccin.css";

@import "@fontsource/iosevka/400.css";
@import "@fontsource/iosevka/500.css";
@import "@fontsource/iosevka/600.css";
@import "@fontsource/iosevka/700.css";

body {
    color: var(--ctp-macchiato-text);
    background-color: var(--ctp-macchiato-base);
    font-family: "Iosevka", monospace;
    font-weight: 500;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--ctp-macchiato-blue);

    &:visited {
        color: var(--ctp-macchiato-lavender);
    }

    &:hover {
        color: var(--ctp-macchiato-sky);
    }
}

p {
    text-align: justify;

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

strong {
    font-weight: 500;
    color: var(--ctp-macchiato-rosewater);
}

li + li {
    margin-top: 1em;
}

.adaptive-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.adaptive-cell {
    flex: 1;
}

@media screen and (max-width: 1000px) {
    .adaptive-row {
        flex-wrap: wrap;
    }

    .adaptive-cell {
        flex-basis: 100%;
    }
}
