@import "@catppuccin/palette/css/catppuccin.css";
@import "@fontsource/iosevka";

body {
    color: var(--ctp-macchiato-text);
    background-color: var(--ctp-macchiato-base);
    font-family: "Iosevka", monospace;
    font-weight: 500;
}

a {
    color: var(--ctp-macchiato-blue);

    &:visited {
        color: var(--ctp-macchiato-lavender);
    }

    &:hover {
        color: var(--ctp-macchiato-sky);
    }
}

p {
    text-align: justify;

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

strong {
    font-weight: 500;
    color: var(--ctp-macchiato-rosewater);
}

em {
    font-style: oblique 10deg;
}

li + li {
    margin-top: 1em;
}

.adaptive-row {
    display: flex;
    flex-direction: row;

    width: 100%;

    gap: 8px;
    &:last-child {
        margin-bottom: 0;
    }
}

.adaptive-cell {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex: 1;
}

@media screen and (max-width: 1000px) {
    .adaptive-row {
        flex-wrap: wrap;
    }

    .adaptive-cell {
        flex-basis: 100%;
    }
}
