@layer reset;
@import "the-new-css-reset/css/reset.css" layer(reset);

@import "@fontsource/iosevka/400";
@import "@fontsource/iosevka/400-italic";
@import "@fontsource/iosevka/500";
@import "@fontsource/iosevka/600";
@import "@fontsource/iosevka/700";

@import "@fontsource-variable/noto-sans-sc";

@import "@catppuccin/palette/css/catppuccin.css";

@import "./utils.css";
@import "./transitions.css";

/* Colours */
:root {
  /* Dark */
  --dark-bg: var(--ctp-macchiato-base);
  --dark-fg: var(--ctp-macchiato-text);
  --dark-fg-dim-0: var(--ctp-macchiato-subtext1);
  --dark-fg-dim-1: var(--ctp-macchiato-subtext0);
  --dark-fg-strong: var(--ctp-macchiato-rosewater);
  --dark-bg-light: var(--ctp-macchiato-surface0);

  --dark-accent: var(--ctp-macchiato-blue);
  --dark-accent-sec: var(--ctp-macchiato-pink);
  --dark-accent-splash: var(--ctp-macchiato-pink);
  --dark-accent-nav-hover: var(--ctp-macchiato-rosewater);

  --dark-link-fg: var(--ctp-macchiato-lavender);
  --dark-link-fg-hover: var(--ctp-macchiato-sky);

  --dark-repo-archived-fg: var(--ctp-macchiato-mantle);
  --dark-repo-archived-bg: var(--ctp-macchiato-peach);
  --dark-repo-collaborator-fg: var(--ctp-macchiato-mantle);
  --dark-repo-collaborator-bg: var(--ctp-macchiato-mauve);

  /* Light (Gruvbox Material Hard) */
  --light-bg: #f9f5d7;
  --light-fg: #654735;
  --light-fg-dim-0: #7c6f64;
  --light-fg-dim-1: #4f3829;
  --light-fg-strong: #a96b2c;
  --light-bg-light: #f3eac7;

  --light-accent: #45707a;
  --light-accent-sec: #945e80;
  --light-accent-splash: #45707a;
  --light-accent-nav-hover: #4c7a5d;

  --light-link-fg: #45707a;
  --light-link-fg-hover: #4c7a5d;

  --light-repo-archived-fg: #f9f5d7;
  --light-repo-archived-bg: #ae5858;
  --light-repo-collaborator-fg: #f9f5d7;
  --light-repo-collaborator-bg: #945e80;
}

:root {
  /* Typography */
  --line-height: 1.5;
  --measure: 100ch;

  /* Borders */
  --border-thin: 2px;
  --border-thick: 4px;
  --border-radius: 0.4rem;
  --badge-radius: 1rem;

  /* Misc */
  --content-max-width: 1280px;
}

body.dark {
  --bg: var(--dark-bg);
  --fg: var(--dark-fg);
  --fg-dim-0: var(--dark-fg-dim-0);
  --fg-dim-1: var(--dark-fg-dim-1);
  --fg-strong: var(--dark-fg-strong);
  --bg-light: var(--dark-bg-light);

  --accent: var(--dark-accent);
  --accent-sec: var(--dark-accent-sec);
  --accent-splash: var(--dark-accent-splash);
  --accent-nav-hover: var(--dark-accent-nav-hover);

  --link-fg: var(--dark-link-fg);
  --link-fg-hover: var(--dark-link-fg-hover);

  --repo-archived-fg: var(--dark-repo-archived-fg);
  --repo-archived-bg: var(--dark-repo-archived-bg);
  --repo-collaborator-fg: var(--dark-repo-collaborator-fg);
  --repo-collaborator-bg: var(--dark-repo-collaborator-bg);
}

body {
  --bg: var(--light-bg);
  --fg: var(--light-fg);
  --fg-dim-0: var(--light-fg-dim-0);
  --fg-dim-1: var(--light-fg-dim-1);
  --fg-strong: var(--light-fg-strong);
  --bg-light: var(--light-bg-light);

  --accent: var(--light-accent);
  --accent-sec: var(--light-accent-sec);
  --accent-splash: var(--light-accent-splash);
  --accent-nav-hover: var(--light-accent-nav-hover);

  --link-fg: var(--light-link-fg);
  --link-fg-hover: var(--light-link-fg-hover);

  --repo-archived-fg: var(--light-repo-archived-fg);
  --repo-archived-bg: var(--light-repo-archived-bg);
  --repo-collaborator-fg: var(--light-repo-collaborator-fg);
  --repo-collaborator-bg: var(--light-repo-collaborator-bg);
}

/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1280,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --type--2: clamp(0.6076rem, 0.5702rem + 0.1873vw, 0.72rem);
  --type--1: clamp(0.7292rem, 0.6722rem + 0.2847vw, 0.9rem);
  --type-0: clamp(0.875rem, 0.7917rem + 0.4167vw, 1.125rem);
  --type-1: clamp(1.05rem, 0.9313rem + 0.5938vw, 1.4063rem);
  --type-2: clamp(1.26rem, 1.0941rem + 0.8297vw, 1.7578rem);
  --type-3: clamp(1.512rem, 1.2836rem + 1.1421vw, 2.1973rem);
  --type-4: clamp(1.8144rem, 1.5037rem + 1.5536vw, 2.7466rem);
  --type-5: clamp(2.1773rem, 1.7586rem + 2.0932vw, 3.4332rem);
  --type-6: clamp(2.6127rem, 2.0531rem + 2.798vw, 4.2915rem);
  --type-7: clamp(3.1353rem, 2.3922rem + 3.7152vw, 5.3644rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,14,1.2,1280,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --space-3xs: clamp(0.25rem, 0.2292rem + 0.1042vw, 0.3125rem);
  --space-2xs: clamp(0.4375rem, 0.3958rem + 0.2083vw, 0.5625rem);
  --space-xs: clamp(0.6875rem, 0.625rem + 0.3125vw, 0.875rem);
  --space-s: clamp(0.875rem, 0.7917rem + 0.4167vw, 1.125rem);
  --space-m: clamp(1.3125rem, 1.1875rem + 0.625vw, 1.6875rem);
  --space-l: clamp(1.75rem, 1.5833rem + 0.8333vw, 2.25rem);
  --space-xl: clamp(2.625rem, 2.375rem + 1.25vw, 3.375rem);
  --space-2xl: clamp(3.5rem, 3.1667rem + 1.6667vw, 4.5rem);
  --space-3xl: clamp(5.25rem, 4.75rem + 2.5vw, 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1458rem + 0.5208vw, 0.5625rem);
  --space-2xs-xs: clamp(0.4375rem, 0.2917rem + 0.7292vw, 0.875rem);
  --space-xs-s: clamp(0.6875rem, 0.5417rem + 0.7292vw, 1.125rem);
  --space-s-m: clamp(0.875rem, 0.6042rem + 1.3542vw, 1.6875rem);
  --space-m-l: clamp(1.3125rem, 1rem + 1.5625vw, 2.25rem);
  --space-l-xl: clamp(1.75rem, 1.2083rem + 2.7083vw, 3.375rem);
  --space-xl-2xl: clamp(2.625rem, 2rem + 3.125vw, 4.5rem);
  --space-2xl-3xl: clamp(3.5rem, 2.4167rem + 5.4167vw, 6.75rem);
}

:root {
  /* @link https://utopia.fyi/clamp/calculator?a=880,1280,0—120 */
  --fluid-h-0-120: clamp(0rem, -7.5rem + 18.75vh, 7.5rem);

  /* @link https://utopia.fyi/clamp/calculator?a=400,1280,0—240 */
  --fluid-h-0-240: clamp(0rem, -6.8182rem + 27.2727vh, 15rem);
}

* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  color: var(--fg);
  background-color: var(--bg);

  font-family: "Iosevka", sans-serif;
  font-size: var(--type-0);
  font-weight: 500;
  line-height: var(--line-height);
}

p,
li {
  font-family: "Iosevka", serif;
  font-weight: 400;
  text-align: justify;
  hyphens: auto;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style-type: disc;
  list-style-position: outside;
  margin-inline-start: 1.5em;
}

a {
  color: var(--link-fg);
  text-decoration: underline;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--link-fg-hover);
  }
}

strong {
  color: var(--fg-strong);
}
