@layer reset;
@import "the-new-css-reset/css/reset.css" layer(reset);

@import "@fontsource/iosevka/400";
@import "@fontsource/iosevka/400-italic";
@import "@fontsource/iosevka/500";
@import "@fontsource/iosevka/500-italic";
@import "@fontsource/iosevka/600";
@import "@fontsource/iosevka/700";

@import "@fontsource-variable/noto-sans-sc";

@import "@fontsource-variable/sixtyfour/full.css";

@import "@catppuccin/palette/css/catppuccin.css";

@import "./theme.css";
@import "./scales.css";
@import "./utils.css";
@import "./transitions.css";

:root {
  /* Borders */
  --border-thin: 2px;
  --border-thick: 4px;
  --border-radius: 0.4rem;
  --badge-radius: 1rem;

  /* Misc */
  --content-max-width: 1280px;
}

:root {
  scroll-behavior: smooth;
}

* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  color: var(--fg);
  background-color: var(--bg);

  font-family: "Iosevka", sans-serif;
  font-size: var(--type-0);
  font-weight: 500;
  line-height: var(--line-height);
}

p,
li {
  font-family: "Iosevka", serif;
  font-weight: 400;
  text-align: justify;
  hyphens: auto;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style-type: disc;
  list-style-position: outside;
  margin-inline-start: 1.5em;
}

a {
  color: var(--link-fg);
  text-decoration: underline;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--link-fg-hover);
  }
}

strong {
  color: var(--fg-strong);
}

em {
  font-style: italic;
}
