.weak {
  color: var(--fg-dim-0);
}

.hoverScale {
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.02);
  }
}

.hoverUnderline {
  position: relative;

  transition: transform 0.2s ease-out;
  &:hover {
    transform: translateY(-0.15em);
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: var(--border-thin);

    background-color: currentcolor;

    transform: scaleX(0);
    transition: transform 0.1s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}
