.page-slide-left-enter-active,
.page-slide-left-leave-active,
.page-slide-right-enter-active,
.page-slide-right-leave-active {
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.page-slide-left-enter-from,
.page-slide-left-leave-to,
.page-slide-right-enter-from,
.page-slide-right-leave-to {
  opacity: 0;
}

.page-slide-left-leave-to {
  transform: translateX(-25rem);
}

.page-slide-right-leave-to {
  transform: translateX(25rem);
}
