---
import { RootLayout } from "@/layouts";
import { Stack, Cluster } from "@/components/primitives";
import { WMotion } from "@/components/wrappers";
import { AboutMe, Technologies, Gpg } from "@/components";
import { slideInProps } from "@/utils/animations";

const titlePath = "about";
const description =
  "Hello! I'm Dixon Sean Low Yan Feng," +
  " a developer with an interest in Linux, open-source software and reproducibility." +
  " Welcome to my corner on the Internet!";
const routePath = "/";
---

<RootLayout
  {titlePath}
  {description}
  {routePath}
>
  <Stack gap="var(--space-l)">
    <Cluster
      rowGap="var(--space-l)"
      columnGap="var(--space-m)"
    >
      <div class="aboutMeWrapper">
        <WMotion
          client:load
          style={{ display: "grid" }}
          {...slideInProps({ direction: "left" })}
        >
          <AboutMe />
        </WMotion>
      </div>
      <div class="gpgWrapper">
        <WMotion
          client:load
          style={{ display: "grid" }}
          {...slideInProps({ direction: "left", idx: 1 })}
        >
          <Gpg />
        </WMotion>
      </div>
    </Cluster>
    <WMotion
      client:load
      {...slideInProps({ direction: "left", idx: 2 })}
    >
      <Technologies client:load />
    </WMotion>
  </Stack>
</RootLayout>

<style>
  .aboutMeWrapper {
    flex: 2 1 30rem;
    display: grid;
  }

  .gpgWrapper {
    flex: 1 1 15rem;
    display: grid;
  }
</style>
