---
export const prerender = false;

import { DateTime } from "luxon";
import { motion } from "motion-v";

import { fetchGitHubProjects } from "@/utils/projects";
import { slideInProps } from "@/utils/animations";
import { RootLayout } from "@/layouts";
import { Stack, Grid } from "@/components/primitives";
import { RepoCard } from "@/components";

const { timestamp, repos } = await fetchGitHubProjects();
const timestampF = DateTime.fromISO(timestamp, { zone: "UTC" }).toFormat("d MMMM yyyy 'at' TTT");
---

<RootLayout>
  <Stack>
    <span><em>Last updated at: {timestampF}</em></span>
    <Grid
      targetMinWidth="30rem"
      gap="var(--space-m)"
    >
      {
        repos.map((repo, idx) => (
          <motion.div
            client:load
            class="repoCardWrapper"
            {...slideInProps({ direction: "up", idx })}
          >
            <RepoCard
              client:load
              {repo}
            />
          </motion.div>
        ))
      }
    </Grid>
  </Stack>
</RootLayout>

<style>
  .repoCardWrapper {
    /* Make the repo card take the full size of the wrapper. */
    display: grid;
  }
</style>
