---
export const prerender = false;

import { DateTime } from "luxon";

import { RootLayout } from "@/layouts";
import { Stack, Grid } from "@/components/primitives";
import { WMotion } from "@/components/wrappers";
import { RepoCard } from "@/components";
import { fetchGitHubProjects } from "@/utils/projects";
import { slideInProps } from "@/utils/animations";

const { timestamp, repos } = await fetchGitHubProjects();
const timestampF = DateTime.fromISO(timestamp, { zone: "UTC" }).toFormat("d MMMM yyyy 'at' TTT");
---

<RootLayout>
  <Stack>
    <span><em>Last updated at: {timestampF}</em></span>
    <Grid
      targetMinWidth="30rem"
      gap="var(--space-m)"
    >
      {
        repos.map((repo, idx) => (
          <WMotion
            client:load
            {...slideInProps({ direction: "up", idx })}
          >
            <div class="repoCardWrapper">
              <RepoCard
                client:load
                {repo}
              />
            </div>
          </WMotion>
        ))
      }
    </Grid>
  </Stack>
</RootLayout>

<style>
  /* Make the repo card take the full size of grid cell. */
  .repoCardWrapper {
    display: grid;
    height: 100%;
    width: 100%;
  }
</style>
