I graduated from Murdoch University in 2025 with a
double-major *Bachelor of Information Technology (BIT) in Computer Science and Artificial Intelligence & Autonomous Systems*.

For achieving excellent results in my studies,
I was awarded the **2024 Vice Chancellor's Commendation for Academic Excellence Award**
and a **Commendation on Notable Achievements**.
