Hi! I'm Dixon (Sean Low Yan Feng). I like to:

- Tinker with **Linux** and **open-source software**.

- Use **terminal** tools. Here are some of my favourites: Neovim, Git, Nix, Zellij, zoxide.

- **Learn** new things (usually, but not limited to, software).

I am also passionate about **artificial intelligence** and **software engineering**,
especially in **reproducibility** and building **full-stack** systems.
