@layer reset;
@import "the-new-css-reset/css/reset.css" layer(reset);

@import "@catppuccin/palette/css/catppuccin.css";

/* TODO: Remove unneeded variants. */
@import "@fontsource/iosevka-aile/400.css";
@import "@fontsource/iosevka-aile/500.css";
@import "@fontsource/iosevka-aile/600.css";
@import "@fontsource/iosevka-aile/700.css";

@import "@fontsource/iosevka-etoile/400.css";
@import "@fontsource/iosevka-etoile/400-italic.css";
@import "@fontsource/iosevka-etoile/500.css";
@import "@fontsource/iosevka-etoile/600.css";
@import "@fontsource/iosevka-etoile/700.css";

@import "devicon/devicon.min.css";

@import "./utils.css";

:root {
  /* Colours */
  --bg: #fffbef;
  --fg: #5c6a72;
  --fg-strong: var(--fg);
  --fg-light: #939f91;

  --link-fg: var(--fg);
  --link-fg-visited: var(--fg);
  --link-fg-hover: var(--fg);

  /* Typography */
  --line-height: 1.5;
  --measure: 60ch;

  /* Borders */
  --border-thin: 2px;
  --border-thick: 4px;

  /* Misc */
  --content-max-width: 960px;
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1280,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --type--2: clamp(0.6944rem, 0.6059rem + 0.4426vw, 0.96rem);
  --type--1: clamp(0.8333rem, 0.7111rem + 0.6111vw, 1.2rem);
  --type-0: clamp(1rem, 0.8333rem + 0.8333vw, 1.5rem);
  --type-1: clamp(1.2rem, 0.975rem + 1.125vw, 1.875rem);
  --type-2: clamp(1.44rem, 1.1388rem + 1.5063vw, 2.3438rem);
  --type-3: clamp(1.728rem, 1.3274rem + 2.0028vw, 2.9297rem);
  --type-4: clamp(2.0736rem, 1.5441rem + 2.6475vw, 3.6621rem);
  --type-5: clamp(2.4883rem, 1.7919rem + 3.4822vw, 4.5776rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
}

* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  color: var(--fg);
  background-color: var(--bg);

  font-family: "Iosevka Aile", sans-serif;
  font-size: var(--type-0);
  line-height: var(--line-height);
}

p {
  font-family: "Iosevka Etoile", serif;
}

a {
  color: var(--link-fg);

  &:visited {
    color: var(--link-fg-visited);
  }

  &:hover {
    color: var(--link-fg-hover);
  }
}

strong {
  color: var(--fg-strong);
}
