@layer reset;
@import "the-new-css-reset/css/reset.css" layer(reset);

@import "@catppuccin/palette/css/catppuccin.css";

/* TODO: Remove unneeded variants. */
@import "@fontsource/iosevka-aile/400.css";
@import "@fontsource/iosevka-aile/500.css";
@import "@fontsource/iosevka-aile/600.css";
@import "@fontsource/iosevka-aile/700.css";

@import "@fontsource/iosevka-etoile/400.css";
@import "@fontsource/iosevka-etoile/400-italic.css";
@import "@fontsource/iosevka-etoile/500.css";
@import "@fontsource/iosevka-etoile/600.css";
@import "@fontsource/iosevka-etoile/700.css";

/* Colours. */
:root {
  --bg: var(--ctp-macchiato-base);
  --fg: var(--ctp-macchiato-text);
  --fg-strong: var(--ctp-macchiato-rosewater);

  --accent-primary: var(--ctp-macchiato-pink);
  --accent-secondary: var(--ctp-macchiato-blue);

  --link-fg: var(--ctp-macchiato-blue);
  --link-fg-visited: var(--ctp-macchiato-lavender);
  --link-fg-hover: var(--ctp-macchiato-sky);
}

body {
  color: var(--fg);
  background-color: var(--bg);

  font-family: "Iosevka Aile", sans-serif;
}

p {
  font-family: "Iosevka Etoile", serif;
}

a {
  color: var(--link-fg);

  &:visited {
    color: var(--link-fg-visited);
  }

  &:hover {
    color: var(--link-fg-hover);
  }
}

strong {
  color: var(--fg-strong);
}
