---
import "@/styles/global.css";

import { ClientRouter } from "astro:transitions";

import { Navbar, Splash } from "@/components";
import { Center, Stack } from "@/components/primitives";

const pageAnim = {
  // Out transition
  old: {
    name: "slideOut",
    duration: "0.5s",
    easing: "ease-in",
  },
  // In transition is handled by the pages themselves.
  new: { name: "" },
};

const pageTransition = {
  forwards: pageAnim,
  backwards: pageAnim,
};
---

<html>
  <head>
    <meta charset="utf-8" />
    <!--
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    -->
    <meta
      name="viewport"
      content="width=device-width"
    />
    <title>dixslyf</title>

    <ClientRouter />
    <script>
      import { swapFunctions } from "astro:transitions/client";
      import { currentUrl, registerCurrentUrlHook } from "@/stores/eager-current-url";

      function swap(newDoc: Document) {
        swapFunctions.deselectScripts(newDoc);
        swapFunctions.swapRootAttributes(newDoc);
        swapFunctions.swapHeadElements(newDoc);

        const restoreFocusFunction = swapFunctions.saveFocus();

        // Only swap the <main> element instead of the <body>.
        const oldMain = document.querySelector("main")!;
        const newMain = newDoc.querySelector("main")!;
        swapFunctions.swapBodyElement(newMain, oldMain);

        restoreFocusFunction();
      }

      document.addEventListener("astro:before-swap", (event) => {
        event.swap = () => swap(event.newDocument);
      });

      currentUrl.set(Astro.url);
      registerCurrentUrlHook();
    </script>
  </head>

  <body>
    <div class="root">
      <Splash client:load />

      <Center gutters="0">
        <Stack gap="var(--space-xl)">
          <header>
            <Navbar transition:persist="navbar" />
          </header>
          <main transition:animate={pageTransition}>
            <slot />
          </main>
        </Stack>
      </Center>
    </div>
  </body>
</html>

<style>
  .root {
    padding-top: var(--space-m-l);
    padding-bottom: var(--space-xl-2xl);
    padding-inline: var(--space-m);

    overflow: hidden;
  }
</style>

<style is:global>
  @keyframes slideOut {
    from {
      opacity: 1;
      transform: none;
    }

    to {
      opacity: 0;
      transform: translateX(25rem);
    }
  }
</style>
